@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:ital,wght@0,800;1,100;1,700&family=Roboto:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Poppins', sans-serif;
}


body{
    line-height: 1.6;
}


h1{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 40px 0 60px 0;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

}


#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px black ;
    border-radius: 5px;
    font-size: 18px;
    color: #333;

}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px black ;
    border-radius: 5px;
    cursor:pointer;   
    margin-left: 10px; 

}

.search-results {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    

}

.search-result {
    margin-bottom: 50px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px black;
    overflow: hidden;
}


.search-result img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: opacity 0.2s ease-in-out ;
}


.search-result:hover img{
    opacity: 0.8;
}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}



.show-more-button{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    margin: 30px auto;
    cursor:pointer;
    display: block;
    display: none;
}

@media screen and (max-width :768px){

    .search-results{
        padding: 20px;
    }


    .search-result{
        width:45%;
    }


    
}



@media screen and (max-width:480px) {
    .search-result{
        width: 90%;
    }
    
}